<h1>Cart</h1>


<div class="shopping-cart">

  <%= form_tag cart_path, method: :patch do %>

    <table class="table">

      <thead>
        <tr>
          <th id="header-remove">Remove</th>
          <th id="header-img">Image</th>
          <th>Product(s)</th>
          <th>Price</th>
          <th>Qty</th>
          <th id="header-total">TOTAL</th>
        </tr>
      </thead>

      <tbody>

        <% @products.each do |product| %> 

          <%= hidden_field_tag "product_ids[]", product.id %>
          <tr>
            <td id="td-checkbox">
              <%= check_box_tag "checked_product_ids[]", product.id %>
            </td>

            <td id="td-img">
              <div class="image"></div>
            </td>

            <td id="product-name">
              <label>
                 <%= product.description %>
              </label>
            </td>

            <td id="td-price">
              <span class="price"><%= product.price_cents %></span> AED
            </td>

            <td id="td-qty">
            
              <%= number_field_tag "product_quantities[]", session[:cart][product.id.to_s], class: "qty-inp" %>
            </td>
            <td id="td-total">
              <div class="div-total">
                <span class="total-val"><%= product.price_cents * session[:cart][product.id.to_s] %></span><span> AED</span>
              </div>
            </td>
          </tr>
        <% end %>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="td-sum-total">
            TOTAL OF:
          </td>
          <td id="td-sum-total-val">
            <div class="div-total">
              <span id="sum-total-val"><%= @total %></span> <span>AED</span>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="buttons">
      <%= submit_tag "Update Shopping Cart", class: "btn btn-secondary" %>
    </div>
  <% end %>
  <%= button_to "Create Order", orders_path, class:"btn btn-primary float-right" %>
</div>
